<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Lambda name="Lambda">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} %X{AWSRequestId} %-5p %c{1}:%L - %m%n</pattern>
            </PatternLayout>
        </Lambda>
    </Appenders>
    <Loggers>
        <!-- https://logging.apache.org/log4j/2.x/manual/configuration.html -->
        <Root level="info">
            <AppenderRef ref="Lambda"/>
        </Root>
        <Logger name="com.ivarprudnikov.auth0" level="debug" additivity="false">
            <AppenderRef ref="Lambda"/>
        </Logger>
    </Loggers>
</Configuration>
